body {
    background-color: black;
  }



h1 {
  color: darkgoldenrod;
  text-align: center;
  font-size: 30px;
  border-style: solid;
  border-width: 5px 20px;
}

form p {
  color: white;
  text-align: center;
}

p a {
  color: darkturquoise;
  text-align: justify;
  margin-left: 80px;
  position: relative;
  left: -40px;
}

ul {
  color: darkturquoise;
  text-align: center;
  list-style-type: none;
  font-size: 50px;
  padding: 90px;
  line-height: 1.5;
}

ul li a {
  color: darkturquoise;
}

p {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
  
}

form {
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  
}

.fakta {
  color: white;
  text-align: center;
}

hr {
  border: 1px solid darkgoldenrod;
  size: 5px;
}

.citaty {
  font-style: italic;
  color: white;
  text-align: center;
}

.jmeno {
  color: darkgoldenrod;
  text-align: right;
  position: relative;
  left: -250px;
}