<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>{{title}}</title>
  
</head>

<body>

  <h1>Citáty</h1>

  <nav>
 
  <p>
    <a href="{{ url_for('uvod') }}">ÚVOD</a>
    <a href="{{ url_for('kalkulacka') }}">KALKULAČKA</a>
    <a href="{{ url_for('fakta') }}">FAKTA</a>
    <a href="{{ url_for('logout') }}">LOGOUT</a>
    
  </p>

  </nav>

<form action="" method="POST">
  <p><input type="text" name="citat" /></p>
  <p><input type="text" name="autor" /></p>
  <p><input type="submit" value="submit" /></p>
</form>

<div class="citaty">

{% for citat in citaty %}
  <p>„{{citat.text}}“
    </p>
    <p class="jmeno">— {{citat.autor}}</p>
    <hr>
{% endfor %}

  <p>
    „Neexistují žádní nevinní. Existují jen různé stupně odpovědnosti.“
    </p><p class="jmeno">— Stieg Larsson</p>
    <hr>

  <p>
    „Neříkám, že nechci umřít. Jen nechci být u toho, až se to stane.“
    </p><p class="jmeno">— Allen Stewart Konigsberg</p>
    <hr>

  <p>
    „Kde vůle neschází, cesta se nachází.“
    </p><p class="jmeno">— J. R. R. Tolkien</p>
    <hr>

  <p>
    „Nevěřte ničemu, co slyšíte a jen polovině toho, co vidíte.“
    </p><p class="jmeno">— Edgar Allan Poe</p>
    <hr>

  <p>
    „Člověk je obětí společnosti, která odmítá pochopit jeho duši.“
    </p><p class="jmeno">— Charles Bukowski</p>
    <hr>

  <p>
    „Představte si to ticho, kdyby lidé říkali jen to, co vědí.“
    </p><p class="jmeno">— Karel Čapek</p>
    <hr>

  <p>
    „Peklo je prázdné, ďáblové jsou mezi námi.“
    </p><p class="jmeno">— William Shakespeare</p>
    <hr>

  <p>
    „Rána bičem působí modřinu, ale rána jazykem drtí kosti.“
    </p><p class="jmeno">— Edgar Allan Poe</p>
    <hr>

  <p>
    „Až ti bude v životě nejhůř, otoč se ke slunci a všechny stíny padnou za tebe.“
    </p><p class="jmeno">— John Lennon</p>
    <hr>

  <p>
    „Monstra jsou skutečná a duchové také. Žijí uvnitř nás a někdy vyhrávají.“
    </p><p class="jmeno">— Stephen King</p>
    <hr>

  <p>
    „Jediný sen je silnější, než tisíce skutečností.“
    </p><p class="jmeno">— J. R. R. Tolkien</p>
    <hr>

  <p>
    „Falešný přítel je horší, než nepřítel, protože nepříteli se vyhýbáš, kdežto příteli věříš.“
    </p><p class="jmeno">— Lev Nikolajevič Tolstoj</p>
    <hr>

  <p>
    „Lež oběhne svět dřív, než si pravda stačí obout boty.“
    </p><p class="jmeno">— Terry Pratchett</p>
    <hr>

  <p>
    „Jen nepřátelé mluví pravdu. Přátelé a milenci lžou neustále, neboť jsou polapeni v síti závazků.“
    </p><p class="jmeno">— Stephen King</p>
    <hr>

  <p>
    „Rozum a srdce jsou jako přesýpací hodiny. Kde se jedno naplní, druhé se vyprázdní.“
    </p><p class="jmeno">— Erich Maria Remarque</p>
    <hr>

  <p>
    „Ten, kdo čte, žije s každou další knihou život navíc. Kdo nečte, má jen ten svůj.“
    </p><p class="jmeno">— Oscar Wilde</p>
    <hr>

  <p>
    „Vše, co je v člověku krásné je očima neviditelné.“
    </p><p class="jmeno">— Antoine de Saint-Exupéry</p>
    <hr>

  <p>
    „Ne každý kdo bloudí je ztracen.“
    </p><p class="jmeno">— J. R. R. Tolkien</p>
    <hr>

  <p>
    „Paměť je výsadou blbých. Chytrý nemá čas si pamatovat, chytrý musí vymýšlet.“
    </p><p class="jmeno">— Jan Werich</p>
    <hr>

  <p>
    „Smutek jen stěží utopíš v alkoholu. Bývá totiž zatraceně dobrým plavcem.“
    </p><p class="jmeno">— Lech Przeczek</p>
    <hr>

  <p>
    „Jestli najdeš v životě cestu bez překážek, určitě nikam nevede.“
    </p><p class="jmeno">— Arthur Charles Clarke</p>
    <hr>

  <p>
    „Pamatuj si, že dokud budeme generálům platit víc než učitelům, nebude na světě mír.“
    </p><p class="jmeno">— Jan Masaryk</p>
    <hr>

  <p>
    „Pracujme tak, abychom vlast předali potomkům lepší, než v jakém stavu nám ji zanechali předkové.“
    </p><p class="jmeno">— Josef Jungmann</p>
    <hr>

  <p>
    „Všichni vladaři světa se nejvíc děsí toho, že by to měli zkusit jinak, neslýchaně a obráceně;<br>nic není konzervativnější než lidské vládnutí.“
    </p><p class="jmeno">— Karel Čapek</p>
    <hr>

  <p>
    „Nečinně se chovat, je nazpět jít.“
    </p><p class="jmeno">— Karel Havlíček Borovský</p>
    <hr>

  <p>
    „Člověk je tu proto, aby si něco předsevzal a aby to vykonal. Pouhá existence je moře bez vody, kniha bez obsahu, život bez života.“
    </p><p class="jmeno">— Miroslav Tyrš</p>
    <hr>

  <p>
    „Vlastenectví je láska k vlastnímu národu, nikoli nenávist k jiným.“
    </p><p class="jmeno">— Tomáš Garrigue Masaryk</p>
    <hr>

  <p>
    „Pokud jdeme s davem, dojdeme maximálně tam, kam šel ten dav.<br>Pokud ale umíme dav opustit, dostaneme se na místa, kde nikdy nikdo nebyl.“
    </p><p class="jmeno">— Albert Einstein</p>
    <hr>

  <p>
    „Učitel ti může otevřít dveře, ale vstoupit do nich musíš ty sám.“
    </p><p class="jmeno">— Anonym</p>
  
</div>






<footer>
  <p class="paticka">&#9757; Děkujeme za návštěvu. Pokud Vám zde nějaký citát chybí, neváhejte jej sem přidat!!! &#9757;</p>
</footer>




</body>
</html>
