<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">

  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  
  <h1>Zajímavá fakta</h1>


  <nav>
  
  <p>
    <a href="{{ url_for('uvod') }}">ÚVOD</a>
    <a href="{{ url_for('citaty') }}">CITÁTY</a>
    <a href="{{ url_for('kalkulacka') }}">KALKULAČKA</a>
    <a href="{{ url_for('logout') }}">LOGOUT</a>
    
  </p>
  </nav>

<div class="fakta">
  <p>
    Když mluvíte, naprskáte při každém slově zhruba 2,5 mikroskopické kapičky slin.
    </p>
    <hr>
  <p>
    Krysy ani koně nedokáží zvracet.
    </p>
    <hr>
  <p>
    Na Venuši – která je blíž Slunci než Země – by se zmražená pizza položená na zem dokonale propekla za pouhé 3 sekundy.
    </p>
    <hr>
  <p>
    Kdybyste nepřetržitě křičeli 8 let, 7 měsíců a 6 dní, vytvořili byste dostatek zvukové energie, abyste si mohli udělat šálek čaje.
    </p>
    <hr>
  <p>
    V jakémkoli daném okamžiku je přibližně 0,7 % lidské populace opilých.
    </p>
    <hr>
  <p>
    Každý rok zemře víc lidí proto, že je nevhodně trefil špunt od šampaňského, než kolik jich zemře na kousnutí jedovatého pavouka.
    </p>
    <hr>
  <p>
    Jediné varle plejtváka obrovského může vážit až 45 – 68 kg.
    </p>
    <hr>
  <p>
    Jediná sklenka vody obsahuje víc molekul H2O, než kolik je ve všech oceánech na Zemi sklenek vody.
    </p>
    <hr>
  <p>
    Lidské srdce dokáže vystříknout krev na vzdálenost 10 metrů.
    </p>
    <hr>
  <p>
    Protože na rovníku je odstředivá síla otáčející se planety o trošku silnější, jste na rovníku o trošku lehčí.
    </p>
    <hr>
  <p>
    K mračení potřebujete zapojit 42 obličejových svalů, k úsměvu vám stačí jen 17.
    </p>
    <hr>
  <p>
    Když si ráno dáte jablko, probere vás to lépe než šálek kávy.
    </p>
    <hr>
  <p>
    Zapomnětlivost veverek - kterým vypadne z hlavy, kam si schovaly žaludy - má na kontě každý rok tisíce nových stromů.
    </p>
    <hr>
  <p>
    Kdyby někdo vyhloubil tunel skrz celou zeměkouli a vy byste do něj skočili, trvalo by 42 minut, než byste propadli na druhou stranu.
    </p>
    <hr>
  <p>
    Šváb přežije až 9 dní bez hlavy.
    </p>
    <hr>
  <p>
    V britském parlamentu je zakázáno zemřít.
    </p>
    <hr>
  <p>
    Každý rok v Paříži uklouzne 350 lidí na psím hovénku a zraní se tak vážně, že musí být převezeni do nemocnice.
    </p>
    <hr>
  <p>
    Velbloudi si dokáží velice dlouho pamatovat způsobená příkoří a trpělivě čekají na svou příležitost se pořádně pomstít.
    </p>
    <hr>
  <p>
    Proč mají muži bradavky? Protože než se do věci zapojí chromozom Y, jsme všichni holky.
    </p>
    <hr>
  <p>
    Když v roce 1945 skončila 2. světová válka, slavili Rusové tak usilovně, že v Moskvě došla vodka.
    </p>
    <hr>
  <p>
    Průměrný člověk stráví denně mluvením jen asi 10 minut.
    </p>
    <hr>
  <p>
    Než se na Zemi objevily stromy, pokrývaly ji obří houby.
    </p>
    <hr>
  <p>
    Bible zmiňuje všechny druhy domácích zvířat - s výjimkou kočky.
    </p>
    <hr>
  <p>
    Inteligentní lidé mají ve vlasech více mědi a zinku.
    </p>
    <hr>
  <p>
    Každý rok nedopatřením sníte kolem 480 g hmyzu.
    </p>
    <hr>
  <p>
    Elektrickými šoky můžete až na 6 měsíců vylepšit matematické dovednosti lidského mozku.
    </p>
    <hr>
  <p>
    Padající kokosy usmrtí každý rok až 150 lidí. Více než zabijí žraloci.
    </p>
    <hr>
  <p>
    Podle Bible poslal Bůh 2 medvědy, aby zavraždili 42 dětí, protože se posmívali plešatému.
    </p>
    <hr>
  <p>
    Krávy bučí různými akcenty, podle regionů v kterých žijí.
    </p>
    <hr>
  <p>
    Nejdražším materiálem na planetě je antihmota v hodnotě 62,5 bilionu $ za gram.
    </p>
    <hr>
  <p>
    V ústní vodě je více alkoholu než ve víně.
    </p>
    <hr>
  <p>
    Pokud chcete, aby vás někdo poslouchal, začněte konverzaci slovy "Neměl bych ti to říkat".
    </p>
    <hr>
  <p>
    Dnešek je o 0.00000002 vteřiny delší než včerejšek, protože země zpomaluje.
    </p>
    <hr>
  <p>
    Před popravčí četou - při dotazu na poslední přání - vězeň jednou opravdu požádal o neprůstřelnou vestu.
    </p>
    <hr>
  <p>
    Hawaii se přibližuje Japonsku rychlostí 4 palce ročně.
    </p>
    <hr>
  <p>
    Sami sebe nepolechtáte. Mozeček, část mozku, varuje zbytek mozku, že se o to snažíte.
    </p>

</div>

 

<footer>
  <p class="paticka">&#9757; Určitě tu nejsou všechna vtipná fakta. Pomožte nám rozšířit sbírku. &#9757;</p>
</footer>




</body>
</html>