<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>{{title}}</title>
  
</head>

<body>

  <h1>Výpočet obsahu a obvodu trojúhelníku</h1>

  <nav>
 
  <p>
    <a href="{{ url_for('index') }}">INDEX</a>
    <a href="{{ url_for('obdelnik') }}">OBDÉLNÍK</a>
    <a href="{{ url_for('ctverec') }}">ČTVEREC</a>
    <a href="{{ url_for('logout') }}">LOGOUT</a>
    
  </p>

  </nav>

  






<footer>

</footer>




</body>
</html>
